<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>The Sneaker Palace</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/TheSneakerPalace/img/logito.png" rel="icon">
    <link href="/TheSneakerPalace/img/logito.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="../index.html" class="logo d-flex align-items-center">
                <img src="/TheSneakerPalace/img/logito.png">
                <span class="d-none d-lg-block">TheSneakerPalace</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="../index.html">
                    <i class="bi bi-grid"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bag-plus"></i><span>Zapatillas</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a href="nike.html">
                            <i class="bi bi-circle"></i><span>Nike</span>
                        </a>
                    </li>
                    <li>
                        <a href="jordan.html">
                            <i class="bi bi-circle"></i><span>Jordan</span>
                        </a>
                    </li>
                    <li>
                        <a href="adidas.html">
                            <i class="bi bi-circle"></i><span>Adidas</span>
                        </a>
                    </li>
                    <li>
                        <a href="converse.html">
                            <i class="bi bi-circle"></i><span>Converse</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-collection"></i><span>Coleccionables</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="funko.html">
                            <i class="bi bi-circle"></i><span>Funkos</span>
                        </a>
                    </li>
                    <li>
                        <a href="complementos.html">
                            <i class="bi bi-circle"></i><span>Complementos</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Forms Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Noticias</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="https://fashionunited.es/tags/sneakers" target="_blank">
                            <i class="bi bi-circle"></i><span>Sneakers</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://fashionunited.es/noticias/moda" target="_blank">
                            <i class="bi bi-circle"></i><span>Moda</span>
                        </a>
                    </li>
                    <li>
                        <a href="tabla.html">
                            <i class="bi bi-circle"></i><span>Grafico</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Tables Nav -->


            <!-- End Icons Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="contacto.html">
                    <i class="bi bi-envelope"></i>
                    <span>Contacta</span>
                </a>
            </li>
        </ul>

    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
        <table class="table">

            <thead>

                <tr>

                    <th></th>

                    <th colspan="1">Nike</th>

                    <th colspan="1">Jordan</th>

                    <th colspan="1">Adidas</th>

                    <th colspan="1">Puma</th>

                </tr>

                <tr>

                    <th scope="col">Fecha</th>

                    <th>Ganancias</th>


                    <th>Ganancias</th>


                    <th>Ganancias</th>


                    <th>Ganancias</th>



                </tr>

            </thead>

            <tbody>

                <tr>

                    <th>15/16</th>

                    <td>$30.000M</td>


                    <td>$7.000M</td>


                    <td>$6.000M</td>


                    <td>$3.000M</td>


                </tr>

                <tr>

                    <th>16/17</th>

                    <td>$32.000M</td>

                    <td>$10.000M</td>


                    <td>$8.000M</td>


                    <td>$7.000M</td>


                </tr>

                <tr>

                    <th>17/18</th>

                    <td>$34.000M</td>


                    <td>$15.000M</td>


                    <td>$10.000M</td>


                    <td>$11.000M</td>


                </tr>

                <tr>

                    <th>18/19</th>

                    <td>$36.000M</td>


                    <td>$17.000M</td>


                    <td>$13.000M</td>


                    <td>$14.000M</td>


                </tr>

                <tr>

                    <th>19/20</th>

                    <td>$37.000M</td>


                    <td>$20.000M</td>


                    <td>$15.000M</td>


                    <td>$16.000M</td>


                </tr>

            </tbody>


        </table>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Lay</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by Pablo Perez</a>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.min.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../js/main.js"></script>

</body>

</html>